body {
  background-color: #050505;
  color: #C7DDFF;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 300px;
  margin-left: 300px;
    font-family: Poppins;
}

h1 {
  color: #FF7A30;
}

p {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C7DDFF;
  border-color: #032A75;
  border-style: double;
  border-width: medium;

}

li {
  float: left;

}

li a {
  display: block;
  color: #032A75;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: poppins;

}

li a:hover {
  background-color: #496486;

}

#Picture #portrait {
  float: right;
  position: relative;
  top: -800px;

}

#link {
  color: #0066FF
}
