ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1B9AAA;

}

li {
  float: left;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: helvetica;

}

li a:hover {
  background-color: white;
}

body {
  background-color: #ADD8E6;
  margin: 100px;
  font-family: helvetica;
}
